*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

h1{

    text-align: center;
    font-size: 25px;  
    padding: 10px;
}


.full_site{

    //background-image: linear-gradient(to right top, #c78fe5, #a76ec5, #884da5, #692d87, #4b0769);
    background-color: #0e0b1b;
    color: white;
    
}

.main_content{

    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;

}

.card_{
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    perspective: 600px;
}

.face{

    border-radius: 10px;
    transition: transform .3s;
    height: 220px;
    width: 100%;

}

.front{
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}

.front.flipped{

  transform: rotateY(0deg);
  border: white 3px solid;
}

.back{

    background: url("../img/verso.jpg");
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    border: white 3px solid;

    &:hover{

      opacity: .85;

    }
    
}

.back.flipped{

    transform: rotateY(180deg);

}


