$backgroundColor: #ffeccf;
$primaryColor: #294023;
$secondaryColor: #6f553f;
$tertiaryColor: #F32424;

@font-face {
    font-family: 'Bebas Neue';
    src: url(../assets/fonts/BebasNeue-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Brush Script MT', cursive;

    height: 100vh;
}

h1 {
    font-size: 3em;
    font-family: 'Bebas Neue';
    color: $primaryColor;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h4 {
        color: $tertiaryColor;
    }
}

.memoryGame {
    width: 900px;
    height: 800px;
    padding: 25px;
    
    display: flex;
    flex-wrap: wrap;   

    perspective: 1000px;
}

.card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    transform: scale(1);

    transform-style: preserve-3d;
    transition: transform .5s;
    
}

.card:hover {
    .front {
        background-image: url(https://i.pinimg.com/originals/67/97/03/6797033c3925c0bcd4f14bd7153c5774.gif);
        background-position: center;
        background-size: contian;
    }
}

.card:active {
    transform: scale(.95);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.face {
    background-color: $primaryColor;

    width: 100%;
    height: 100%;
    padding: 25px;

    position: absolute;

    border-radius: 6px;

    backface-visibility: hidden;
}

.back {
    background-position: center;
    background-size: cover;
    
    transform: rotateY(180deg);
}